*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
/static

*~

# Covers JetBrains IDEs: PyCharm
*.iml

## Directory-based project format:
.idea/
~*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml