{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}

<section class="carousel" id="main-carousel" style="opacity: 1; display: block;">
</section>


<section class="main-content">
    <section class="big-bullents">
        <div class="container">
            <div class="big-bullets__list">
                <ul>
                    <li>
                        <div class="big-bullets__img">
                            <a href="bioinformatics/"><img alt="Bioinformatics analysis" src="../static/img/bioinformatics.svg">
                            </a>
                        </div>
                        <h4>
                            Bioinformatic Analysis
                        </h4>
                        <p>
                           Genomics, Transcriptomics, Databases and lot more
                        </p>
                        <a class="big-bullet__btn" href="bioinformatics/">Learn More</a>
                    </li>
                    <li>
                        <div class="big-bullets__img">
                            <a href="bioinformatics/"><img alt="Agricultural informatics" src="../static/img/bioinformatics.svg">
                            </a>
                        </div>
                        <h4>
                            Agricultural Informatics
                        </h4>
                        <p>
                           Using computational systems to increase productivity of the farmland.
                        </p>
                        <a class="big-bullet__btn" href="bioinformatics/">Learn More</a>
                    </li>
                    <li>
                        <div class="big-bullets__img">
                            <a href="bioinformatics/"><img alt="Bioinformatics analysis" src="../static/img/bioinformatics.svg">
                            </a>
                        </div>
                        <h4>
                            Cloud computing
                        </h4>
                        <p>
                           Store, analyze, visualize big data on cloud and web.
                        </p>
                        <a class="big-bullet__btn" href="bioinformatics/">Learn More</a>
                    </li>
                </ul>
            </div>

        </div>

    </section>

</section>

{% endblocktrans %}
{% endblock %}
